<%- include('partials/header'); -%>
<h1>Welcome to Telemagic</h1>
<h2>Overview of the Assignment</h2>
<ul>
<li>Table should show agent columns: </li>
  <ul>
<li>Username </li>

<li>Domain </li>

<li>City </li>

<li>Phone Number </li>

<li>Roles </li>
</ul>
<li>Columns should be sortable</li>

<li>You should be able to search and filter out agents by username or phone number</li>
</ul>
<%- include('partials/footer'); -%>
